<fieldset class="usa-fieldset">
    <legend class="usa-legend usa-legend">Radio Buttons</legend>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="historical-truth"
        type="radio"
        name="historical-figures"
        value="sojourner-truth"
        checked="checked"
      />
      <label class="usa-radio__label" for="historical-truth"
        >Radio Button 1</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="historical-douglass"
        type="radio"
        name="historical-figures"
        value="frederick-douglass"
      />
      <label class="usa-radio__label" for="historical-douglass"
        >Radio Button 2</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="historical-washington"
        type="radio"
        name="historical-figures"
        value="booker-t-washington"
      />
      <label class="usa-radio__label" for="historical-washington"
        >Radio Button 3</label
      >
    </div>
    <div class="usa-radio">
      <input
        class="usa-radio__input"
        id="historical-carver"
        type="radio"
        name="historical-figures"
        value="george-washington-carver"
        disabled="disabled"
      />
      <label class="usa-radio__label" for="historical-carver"
        >Disabled Radio Button</label
      >
    </div>
  </fieldset>