<head>
    <link rel="stylesheet" href="/assets/css/icons/icons.css">
</head>

<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/facebook_icon_2x.png"/>
            </div>
            <div class="text">
                Follow Us
            </div>
        </a>
    </div>
</div>
<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/twitter_icon_2x.png"/>
            </div>
            <div class="text">
                Connect With Us
            </div>
        </a>
    </div>
</div>
<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/linkedin_icon_2x.png"/>
            </div>
            <div class="text">
                Follow Us
            </div>
        </a>
    </div>
</div>
<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/youtube_icon_2x.png"/>
            </div>
            <div class="text">
                Subscribe
            </div>
        </a>
    </div>
</div>

<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/email_icon_2x.png"/>
            </div>
            <div class="text">
                Email Us
            </div>
        </a>
    </div>
</div>
<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/print_icon_2x.png"/>
            </div>
            <div class="text">
                Print
            </div>
        </a>
    </div>
</div>
<div class="icon-component">
    <div class="icon-container">
        <a href="">
            <div class="icon">
                <img src="/assets/icons/newsletter_icon_2x.png"/>
            </div>
            <div class="text">
                Subscribe to Newsletter
            </div>
        </a>
    </div>
</div>