<head>
    <link rel="stylesheet" href="/assets/css/patterns/newsletter.css">
</head>

<div class="subscribe">
    <h2 class="newsletter-heading">IS NEWS DELIVERED TO YOUR INBOX</h2>
    <div class="newsletter-container">
        <div class="text">
            <p>IS sends a quarterly e-Newsletter with funding announcements; career and training opportunities; scientific advances; and information about new data, tools and protocols. We also send individual notices about new funding opportunities, job openings and webinars.</p>
        </div>
        <div class="sign-up">
            <section aria-label="Search component">
                <form class="usa-search" role="search">
                    <label class="input-group-text">Email Address:</label>
                    <label class="usa-sr-only" for="search-field">Subscribe</label>
                    <input class="usa-input" id="search-field" type="search" name="search" />
                    <button class="usa-button" type="submit">
                    <span class="usa-search__submit-text">Subscribe</span
                    ><img
                        src="/assets/img/usa-icons-bg/search--white.svg"
                        class="usa-search__submit-icon"
                        alt="Search"
                    />
                    </button>
                </form>
            </section>
            <p>By signing up for this email you are agreeing to receive news and information from NCI DCCPS. <a href="">Click here to visit NCI’s policies.</a></p>
            <p><a href="">Unsubscribe here.</a> Easy unsubscribe links are also provided in every email.</p>
        </div>
    </div>
</div>