<head>
    <link rel="stylesheet" href="/assets/css/patterns/search.css">
</head>

<section aria-label="Search component">
    <form class="usa-search search-bar" role="search">
      <label class="usa-sr-only" for="search-field">Search</label>
      <input class="usa-input" id="search-field" type="search" name="search" placeholder="SEARCH" />
      <button class="usa-button" type="submit">
          <img
          src="/assets/images/search.svg"
          class="usa-search__submit-icon"
          alt="Search"
          />
      </button>
    </form>
  </section>