.vertical.flip-container {
    position: fixed;
}
.flip-container, .front, .back {
    width: 50px;
    height: 50px;
}
.flip-container {
    perspective: 1000px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.vertical.flip-container .flipper {
    transform-origin: 100% 25px;
}
.flip-container:hover .flipper{
    transform: rotateX(180deg);
}
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: fixed;
}
.front {
    z-index: 999;
    cursor: pointer;
    background: url(/assets/images/up-arrow.svg) no-repeat center;
    background-size: 50px 50px;
    cursor: pointer;
}
.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front, .back {
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
}
.flip-container, .front, .back {
    width: 50px;
    height: 50px;
}
.back{
    z-index: 998;
    background: url(/assets/images/up-arrow-hover.svg) no-repeat center;
    background-size: 50px 50px;
    cursor: pointer;
    transform: rotateX(-180deg);
    background-color: #2f70a8;
    animation: toFront 0.3s linear normal forwards;
}
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}