blockquote{
    margin-left: 10px;
    padding-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Lora';
    font-size: 21px;
}
blockquote ul{
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin-left: 20px;
}
blockquote ul li{
    list-style-type: none;
}
blockquote ul li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
}
