/* Global */

.box-component .usa-card__container{
    border: 1px solid #e5e5e5;
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.07);
}

.box-component .usa-card__body{
    padding: 20px;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.125rem;
    font-weight: 300;
    color: #111111;
}

.box-component .usa-card__body a{
    color: #2f70a8;
}

.box-component .light-background .usa-card__footer{
    background-color: #F2F2F2;
}

.box-component .light-background .usa-card__body{
    background-color: #F2F2F2;
}

.box-component .light-background .usa-card__media{
    background-color: #F2F2F2;
}

.box-component .gray-background{
    background-color: white;
}

.box-component .dark-background .usa-card__header{
    background-color: #10273a;
}

.box-component .dark-background .usa-card__body{
    background-color: #183A57;
    color: white;
}

.box-component .dark-background .usa-card__footer{
     background-color: #183A57;;
}

.box-component .dark-background a{
    color: white;
}

.usa-card__footer a{
    background-color: #2f70a8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1rem;
    font-weight: 600;
    transition: background-color .4s ease-in-out;
}

.usa-card__footer a:hover{
    background-color: #183A57;
}

.usa-card__img{
    background-color: #F2F2F2;
}

.usa-card__img img{
    aspect-ratio: 1/1;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.round-img img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 84px;
    max-height: 84px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    aspect-ratio: 1/1;
}

.round-img a{
    color: #2f70a8;
}

.dark-banner{
    width: 100%;
    font-size: 0.625rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.05rem;
    margin: 0;
    padding: 8px 12px;
    text-transform: uppercase;
    text-align: center;
    background-color: #363636;
    color: #FFFFFF;
}

/* Sidebar Box */

.box-component .icon-heading{
    margin-left: 2.5rem;
}

.box-component .icon-label{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 0.625rem;
}

.box-component .icon-header span{
    margin-left: 2.5rem;
}

.box-component .usa-card__header{
    background-color: #363636;
    color: white;
    padding: 20px;
    display: flex;
    border-radius: 0;
    border-color: #363636;
}
.box-component .usa-card__header span{
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.box-component .usa-card__header a{
    color: white;
}

.box-component .title_icon{
    content: '';
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    overflow: hidden;
}
.box-component .usa-card__heading{
    font-size: 1.25rem;
}

/* Profile Box */

.box-component .profile-card{
    background-color: #F2F2F2;
}

.box-component .profile-card .usa-card__media{
    background-color: #F2F2F2;
}

.box-component .profile-card .usa-card__media--inset{
    padding: 0;
}

.box-component .profile-card .usa-card__img{
    padding-top: 0;
}

.box-component .profile-card img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.box-component .profile-card .usa-card__body{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2.5rem;
}

.box-component .profile-card .name{
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

.box-component .profile-card .name a:hover{
    color: #1f496f;
}

.box-component .profile-card .role{
    display: block;
    font-weight: bold;
    font-size: 0.875rem;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    color: #272727;
    font-size: 0.875rem;
}

.box-component .profile-card .email{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1.125rem;
    font-weight: 300;
}

.box-component .profile-card .email:hover{
    color: #1f496f;
}

.box-component .profile-card .content-header{
    font-weight: bold;
}

.box-component .profile-card .content-list{
    margin-left: 2rem;
}

.box-component .profile-card .usa-button-group a{
    color: white;
    border-radius: 0;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 1rem;
    font-weight: 600;
}

.box-component .profile-card .usa-button-group i{
    font-size: 12px;
}

.box-component .profile-card .semi-button{
    margin-left: -5px;
    border-left: 1px solid #00bde3;
}

.box-component .profile-card .usa-button{
    margin-right: 0;
}

/* Sidebar w/ Image */

.box-component .center-image .usa-card__header{
    background-color: #F2F2F2;
    padding-top: 3rem;
    display: block;
}

.box-component .center-image .usa-card__header span{
    margin-left: 0;
    color: black;
    font-size: 0.875rem;
}

.box-component .center-image .usa-card__header h2{
     margin-left: 0;
}

.box-component .center-image .usa-card__header a{
    color: #2f70a8;
}

.box-component .center-image .usa-card__media{
    background-color: #363636;
    padding: 1.2rem;
}

.box-component .center-image .usa-card__img{
    background-color: transparent;
    top: -25px;
    position: absolute;
    left: 50%;
    margin-left: -44px;
    padding-top: 0;
}

.box-component .center-image .usa-card__img img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 84px;
    max-height: 84px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    aspect-ratio: 1/1;
}

.box-component .center-image .usa-card__body{
    padding-top: 0.5rem;
    background-color: #F2F2F2;
}

/* Sample App */

.box-component .sample-app .usa-card__header{
    background-color: #F2F2F2;
    padding-top: 1.5rem;
    padding-bottom: 0;
}

.box-component .sample-app .usa-card__header span{
    margin-left: 0;
    color: black;
}
.box-component .sample-app .usa-card__header h2{
    margin-left: 0;
    border-bottom: solid 1px black;
    color: black;
    padding-bottom: 1rem;
}

.box-component .sample-app .usa-card__media--inset{
    padding-right: 0.5rem;
    padding-left: 0;
}

.box-component .sample-app .usa-card__img{
    padding-top: 0;
}

.box-component .sample-app img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 84px;
    max-height: 84px;
}

.box-component .sample-app .usa-card__body{
    background-color: #F2F2F2;
}

.box-component .sample-app .sample-app__content{
    display: flex;
    gap: 1rem;
}

.box-component .sample-app .sample-app__content .principal-investigator{
    display: flex;
}

.box-component .sample-app .sample-app__content .principal-investigator span{
    display: block;
    font-weight: bold;
}

.box-component .sample-app .sample-app__content .principal-investigator a{
    font-size: 16px;
}

.box-component .sample-app .sample-app__content .principal-investigator .location{
    font-size: 0.875rem;
}
.box-component .sample-app .sample-app__content .principal-investigator .fas{
    padding-left: 0.5rem;
}

.box-component .sample-app .usa-card__footer{
    background-color: #F2F2F2;
}

.box-component .sample-app .usa-button-group{
    flex-wrap: nowrap;
}

.box-component .sample-app .usa-button-group a{
    color: white;
}

/* Feature Box */
.box-component .role{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: .04em;
    color: #272727;
}

.box-component .location{
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 700;
    margin: 0 0 15px;
    text-transform: uppercase;
    letter-spacing: .04em;
    color: #272727;
}

.box-component blockquote{
    font-family: "Merriweather", "Times New Roman", Times, Georgia, serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.6;
    max-width: 75ex;
    color: #272727;
    border-left: none;
    margin-bottom: 2px;
    position: relative;
    padding-left: 8px;
    padding-bottom: 2px;
    margin-top: 0;
}

.box-component cite{
    font-size: 1.125rem;
    line-height: 1.2;
    font-style: normal;
    max-width: 90ex;
    padding: 5px 20px;
    display: block;
    position: relative;
}

/* Blog Box */

.box-component .blog-box .usa-card__header{
    display: block;
    background-color: #F2F2F2;
}

.box-component .blog-box .usa-card__header .blog-title{
    margin-left: 0;
}
.box-component .blog-box .blog-header a{
    color: #2f70a8;
    text-decoration: underline;
}

.box-component .blog-box .usa-card__header .usa-card__heading{
    margin-left: 0;
}

.box-component .blog-box .usa-card__header h3{
    margin-top: 0;
    margin-bottom: 0;
}

.box-component .blog-box .usa-card__header span{
    color: black;
    margin-left: 0;
}

.box-component .blog-box .usa-card__header .name_date{
    border-bottom: solid black 1px;
    padding: 10px 0;
}

.box-component .blog-box .usa-card__header .name_date span{
    font-size: 1rem;
}

.box-component .blog-box img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 84px;
    max-height: 84px;
}

.box-component .blog-box .blog-box__content{
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
}

.box-component .blog-box .usa-card__body{
    padding-top: 0;
    background-color: #F2F2F2;
}

.box-component .blog-box .usa-card__img{
    padding-top: 15px;
}

/* Monograph Box */

.box-component .monograph .monograph-title{
    color: #2f70a8;
}

.box-component .monograph .usa-card__body{
    background-color: #f2f2f2;
    padding-left: 0;
    padding-top: 0;
}

.box-component .monograph .monograph__content{
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
}

.box-component .monograph .usa-button-group{
    background-color: #f2f2f2;
    padding: 1rem;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 2fr;
}
.box-component .monograph .usa-button-group a{
    color: white;
}

.box-component .monograph .dark-banner{
    background-color: #363636;
    color: white;
    padding: 15px 20px;
    text-align: left;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2;
}

.box-component .monograph .usa-card__header{
    display: block;
    background-color: #F2F2F2;
    padding-top: 0;
    padding-bottom: 0;
}

.box-component .monograph .usa-card__header h2{
    color: #2f70a8;
    margin-left: 0;
    margin-top: 0;
}

.box-component .monograph .usa-card__header h2 a{
    color: #2f70a8;
    text-decoration: underline;
    text-align: left;
    cursor: pointer;
}

.box-component .monograph .usa-card__header .usa-card__heading{
    margin-left: 0;
}

.box-component .monograph .usa-card__header span{
    color: black;
    margin-left: 0;
    font-size: 0.875rem;
    text-transform: uppercase;
}

.box-component .monograph .usa-card__header .name_date{
    padding: 10px 0;
    font-size: 0.875rem;
}

.box-component .monograph img{
    border: 4px solid #FFFFFF;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    max-height: auto;
}

/* Search Box */

.box-component .search-box .usa-card__body{
    padding-top: 1rem;
    background-color: #F2F2F2;
}

.box-component .search-box .usa-search{
    margin-bottom: 1rem;
}

.box-component .search-box .search-link{
    color: #2f70a8;
}