.usa-card__header{
    background-color: #14315c;
}
.usa-card__header h4{
    color: white;
    font-family: 'Montserrat';
}
.usa-card__media--inset{
    margin-top: 1rem;
}
.usa-card .full-link-card{
    text-decoration: none;
}
.usa-card .full-link-card:hover .usa-card__body{
    background-color: #1a4480;
    color: white;
}