.footer-grid{
    width: 100%;
}
.usa-footer__primary-section{
    background-color: #143D66;
    color: white;
}
.usa-footer__primary-section h4{
    color: white;
}
.usa-footer__secondary-link a:visited{
    color: white;
}
.usa-footer__secondary-link a{
    color: white;
}
.usa-footer__secondary-section{
    background-color: #0A1F33;
    color: white;
}
.usa-social-link:hover{
    background-color: transparent;
}