@media (min-width: 64em){
    .usa-logo img{
        height: 100%;
    }
    .usa-nav__primary .usa-accordion__button span{
        padding-right: 1rem;
    }
    .usa-header--extended .usa-logo{
        max-width: 45%;
    }
}

.usa-header .usa-nav__primary button[aria-expanded=true] span:after{
    background: url(/assets/img/usa-icons/expand_less_white.svg) no-repeat center/contain;
}

.usa-header .usa-nav__primary button[aria-expanded=false] span:after{
    background: url(/assets/img/usa-icons/expand_more_white.svg) no-repeat center/contain;
}

.usa-nav__secondary .search-link{
    color: #2f70a8;
    text-decoration: underline;
    margin-top: 0.5rem;
}

.usa-nav{
    background-color: #4c4f52;
    font-family: 'Montserrat';
}

.usa-nav .usa-accordion{
    font-family: 'Montserrat';
}

.usa-nav__primary .usa-nav__primary-item a{
    color: white;
    font-weight: 200;
}

.usa-nav__primary .usa-nav__primary-item a:hover{
    background-color: #71767a;
    color: white;
}

#home-link:hover{
    background-color: #71767a;
}

.usa-nav__primary .usa-current{
    background-color: #71767a;
    color: white;
}

.usa-nav__submenu{
    background-color: #2f70a8;
}

.usa-nav__primary .usa-nav__primary-item a:hover{
    background-color: #1a4480;
}
.mobile-nav-banner{
    display: flex;
    flex-direction: column-reverse;
}
.title-banner{
    max-width: 100%;
}
.mobile-menu{
    background-color: #4c4f52;
    width: 100%;
}
.mobile-menu i{
    margin-right: 0.5rem;
}
.mobile-menu .mobile-search{
    float: right;
}
.usa-menu-btn{
    background-color: transparent;
}
.usa-menu-btn:hover{
    cursor: pointer;
    background-color: #71767a;
}
.usa-nav__primary button{
    color: white;
    font-weight: 200;
}
.usa-nav__primary button:hover{
    background-color: #71767a;
    color: white;
}
.search-with-banner .usa-search[role=search], .usa-search [role=search], .usa-search[role=search]>div{
    margin-bottom: 3rem;
}
@media(max-width: 1023px){
    .usa-header .usa-nav__primary button[aria-expanded=false] span:after{
        background: url(/assets/img/usa-icons/expand_more__right_white.svg) no-repeat center/contain;
    }
    .usa-header .usa-nav__primary button[aria-expanded=true] span:after{
        background: url(/assets/img/usa-icons/expand_more_white.svg) no-repeat center/contain;
    }
    .usa-search input{
        display: none;
    }
    .usa-search button{
        display: none;
    }
    .usa-nav__primary a{
        color: white
    }
    .usa-nav__primary a:not(.usa-button):not(.usa-current){
        color: white;
    }
    .usa-nav__primary a:not(.usa-button):not(.usa-current):hover{
        color: white;
    }
    .usa-nav__secondary .search-link{
        display: none;
    }
}