.usa-hero {
    background: #14315c;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    margin-bottom: 20px;
    font-family: Lora, serif;
}
.usa-hero .usa-hero__callout {
    padding: 0;
}
.usa-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
    height: auto;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 1;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-hr{
    width: 50%;
    float: left;
    border-color: #4bbfc6;
    border-width: 2px;
}
.usa-hero .usa-hero__heading{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5rem;
}
.usa-hero .usa-button{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.text-img-container::after{
    background: #4bbfc6;
    content: '';
    position: absolute;
    top: 0;
    right: 70px;
    width: 550px;
    height: 100%;
}
.hero-landing .usa-hero__callout{
    max-width: 30rem;
}
.hero-landing .hero-image img{
    top: 40px;
    height: 100%;
    right: 0%;
}
.text-img-container{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 6rem;
}
.hero-btns{
    margin-top: 1rem;
    clear: left;
}
.hero-btns .share-page{
    color: white;
    font-size: 1rem;
}
.hero-btns .share-page .fa-solid{
    margin-left: 0.5rem;
}

.hero-socials{
    display: flex;
    margin-bottom: 20px;
    padding-top: 1rem;
}
.hero-socials img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
.hero-socials span{
    width: 50%;
}
.hero-socials a{
    text-decoration: underline;
}

.brp-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
}

.brp-hero .text-img-container::after{
    background: #007bbd;
}

.brp-hero .hero-hr{
    border-color: #007bbd;
}
.egrp-hero .text-img-container::after{
    background: #ddaa01;
}

.egrp-hero .hero-hr{
    border-color: #ddaa01;
}

.hd-hero .text-img-container::after{
    background: #d24600;
}

.hd-hero .hero-hr{
    border-color: #d24600;
}

.is-hero .text-img-container::after{
    background: #6b187f;
}

.is-hero .hero-hr{
    border-color: #6b187f;
}

.srp-hero .text-img-container::after{
    background: #008a00;
}

.srp-hero .hero-hr{
    border-color: #008a00;
}

.ocs-hero .text-img-container::after{
    background: #0c809c;
}

.ocs-hero .hero-hr{
    border-color: #0c809c;
}

.is-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
}

.ocs-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
}

.hd-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
}