.usa-hero {
    background: #14315c;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 20px;
    font-family: Lora, serif;
}
.usa-hero .hero-text-container .hero-callout{
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, "sans-serif";
    font-size: 22px;
    font-weight: 300;
    line-height: 1.636;
    margin-top: 0px;
    margin-bottom: 5px;
}

.usa-hero .hero-text-container{
    min-height: 475px;
    padding: 75px 20px 75px 0px;
    z-index: 10;
}
.hero-hr{
    width: 50%;
    float: left;
    border-color: #4bbfc6;
    border-width: 2px;
}
.usa-hero .usa-hero__heading{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 2.5rem;
}


.usa-hero .hero-bg-image-wrapper {
    padding: 3rem 0;
}

.od-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(75, 191, 198) 10%, rgb(75, 191, 198) 90%, transparent 90%);
}

.hd-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(210, 70, 0) 10%, rgb(210, 70, 0) 90%, transparent 90%);
}

.is-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(107, 24, 127) 10%, rgb(107, 24, 127) 90%, transparent 90%);
}

.brp-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(0, 123, 189) 10%, rgb(0, 123, 189) 90%, transparent 90%);
}

.egrp-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(221, 170, 1) 10%, rgb(221, 170, 1) 90%, transparent 90%);
}

.srp-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(0, 138, 0) 10%, rgb(0, 138, 0) 90%, transparent 90%);
}

.ocs-hero .hero-bg-image-wrapper{
    background-image: linear-gradient(to right, transparent 10%, rgb(12, 128, 156) 10%, rgb(12, 128, 156) 90%, transparent 90%);
}

.usa-hero .hero-image{
    background-image: url(/assets/images/Pure_black_screen.png);
    height: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    z-index: 1;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.usa-hero .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.usa-hero .hero-content .hero-col{
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 2rem;
    min-height: 475px;
}
.hero-socials{
    margin-top: 1rem;
    clear: left;
}
.hero-socials .share-page{
    color: white;
    font-size: 1rem;
}
.share-page a{
    color: white;
}
.hero-socials .share-page .fa-solid{
    margin-left: 0.5rem;
}

.hero-social-links-wrapper{
    display: flex;
}
.hero-social-links img{
    width: 32px;
    height: 32px;
    margin: 10px;
}
.hero-social-links .share-page{
    width: 50%;
}
.hero-social-links a{
    text-decoration: underline;
}

.brp-hero .hero-hr{
    border-color: #007bbd;
}
.egrp-hero .hero-hr{
    border-color: #ddaa01;
}
.hd-hero .hero-hr{
    border-color: #d24600;
}
.is-hero .hero-hr{
    border-color: #6b187f;
}
.srp-hero .hero-hr{
    border-color: #008a00;
}
.ocs-hero .hero-hr{
    border-color: #0c809c;
}

@media(max-width: 1023px){
    .usa-hero .hero-text-container {
        min-height: unset;
        padding: 7rem;
        z-index: 10;
        padding-bottom: 2rem;
        padding-top: 3rem;
    }
    .usa-hero .hero-content .hero-col{
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        min-height: 475px;
        padding: 0;
    }
    .usa-hero .hero-bg-image-wrapper {
        padding: 0 3rem;
        margin-bottom: 2rem;
    }
    .brp-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(0, 123, 189) 10%, rgb(0, 123, 189) 90%, transparent 5%);
    }
    .egrp-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(221, 170, 1) 10%, rgb(221, 170, 1) 90%, transparent 5%);
    }
    .od-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(75, 191, 198) 10%, rgb(75, 191, 198) 90%, transparent 5%);
    }
    .hd-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(210, 70, 0) 10%, rgb(210, 70, 0) 90%, transparent 5%);
    }
    .is-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(107, 24, 127) 10%, rgb(107, 24, 127) 90%, transparent 5%);
    }
    .srp-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(0, 138, 0) 10%, rgb(0, 138, 0) 90%, transparent 5%);
    }
    .ocs-hero .hero-bg-image-wrapper {
        background-image: linear-gradient(transparent 10%, rgb(12, 128, 156) 10%, rgb(12, 128, 156) 90%, transparent 5%);
    }
    .usa-hero .hero-image{
        height: 475px;
    }
}