.image-modal-button{
    background-color: transparent;
    width: 30%;
    border: 1px solid rgba(47, 112, 168, 0.3);
    box-shadow: 0 0 8px rgba(47, 112, 168, 0.3);
}
.image-modal-button img{
    max-width: 100%;
}
.image-modal-button:hover{
    background-color: transparent;
}