.nav-pills-container .nav-pills-row{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}
.nav-pills-container .nav-pills-row .nav-pills-col{
    flex: 0 0 auto;
    width: 50%;
}
.nav-pills-container .nav-pills-row .nav-pills-col .nav-pills{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: column!important;
}
.nav-pills-container .nav-pills-row .nav-pills-col .nav-pills .nav-item{
    margin-bottom: 8px;
}
.nav-pills-container .nav-pills-row .nav-pills-col .nav-pills .nav-link{
    border-radius: 3px;
    background-color: #FFFFFF;
    color: #2f70a8;
    border: 1px solid #2f70a8;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    display: block;
    padding: 0.5rem 1rem;
}
.nav-pills-container .nav-pills-row .nav-pills-col .nav-pills .nav-link:hover{
    background-color: #2f70a8;
    color: white;
}