.subscribe{
    background-image: url(/assets/images/subscribe-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 40px 0;
    min-height: 350px;
}
.newsletter-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    width: 100%;
}
.newsletter-container .sign-up{
    padding-top: 1rem;
}
.newsletter-container .sign-up p{
    font-size: 0.875rem;
}
.newsletter-container .sign-up a{
    color: white;
 }
.newsletter-container .input-group label.input-group-text {
    font-weight: bold;
    color: #111111;
    background-color: #f2f2f2;
}
.newsletter-container .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.2rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.newsletter-heading{
    text-align: center;
}