.title-banner {
    color: #FFFFFF;
    height: 40px;
}
.title-banner .container{
    max-width: 720px;
}
.title-banner .row{
    display: flex;
    flex-wrap: wrap;
}
.title-banner .col-12{
    flex: 0 0 auto;
    width: 100%;
}
.title-banner .program-name{
    margin-bottom: 0px;
    font-size: 0.9375rem;
    line-height: 40px;
    font-weight: 600;
}
.brp-banner{
    background-color: #1c5e86;
}
.egrp-banner{
    background-color: #ddaa01;
}
.hdrp-banner{
    background-color: #d24600;
}
.srp-banner{
    background-color: #008a00;
}
.is-banner{
    background-color: #82368c;
}
.ocs-banner{
    background-color: #008391;
}
.hdhe-banner{
    background-color: #2d383e;
}
@media screen and (max-width: 1023px){
    .program-name{
        margin-left: 1rem;
    }
}