.search-bar{
    width:fit-content;
}
.search-bar button{
    background-color: transparent;
    border: 1px solid #ced5da;
    border-radius: 3px;
    border-left: none;
}
.search-bar button img{
    display: block;
}
.search-bar button:hover{
    background-color: transparent;
    border: 1px solid #ced5da;
    border-left: none;
}

.usa-search__input, [type=search]{
    border: 1px solid #ced5da;
    border-right: none;
    border-radius: 3px;
}