<head>
  <link rel="stylesheet" href="/assets/css/patterns/header.css">
  <link rel="stylesheet" href="/assets/css/patterns/program-banner.css">
</head>

<section
class="usa-banner"
aria-label="Official website of the United States government"
>
<div class="usa-accordion">
<header class="usa-banner__header">
  <div class="usa-banner__inner">
    <div class="grid-col-auto">
      <img
        aria-hidden="true"
        class="usa-banner__header-flag"
        src="/assets/img/us_flag_small.png"
        alt=""
      />
    </div>
    <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
      <p class="usa-banner__header-text">
        An official website of the United States government
      </p>
      <p class="usa-banner__header-action">Here’s how you know</p>
    </div>
    <button
      type="button"
      class="usa-accordion__button usa-banner__button"
      aria-expanded="false"
      aria-controls="gov-banner-default-ocs"
    >
      <span class="usa-banner__button-text">Here’s how you know</span>
    </button>
  </div>
</header>
<div
  class="usa-banner__content usa-accordion__content"
  id="gov-banner-default-ocs"
>
  <div class="grid-row grid-gap-lg">
    <div class="usa-banner__guidance tablet:grid-col-6">
      <img
        class="usa-banner__icon usa-media-block__img"
        src="/assets/img/icon-dot-gov.svg"
        role="img"
        alt=""
        aria-hidden="true"
      />
      <div class="usa-media-block__body">
        <p>
          <strong>Official websites use .gov</strong><br />A
          <strong>.gov</strong> website belongs to an official government
          organization in the United States.
        </p>
      </div>
    </div>
    <div class="usa-banner__guidance tablet:grid-col-6">
      <img
        class="usa-banner__icon usa-media-block__img"
        src="/assets/img/icon-https.svg"
        role="img"
        alt=""
        aria-hidden="true"
      />
      <div class="usa-media-block__body">
        <p>
          <strong>Secure .gov websites use HTTPS</strong><br />A
          <strong>lock</strong> (
          <span class="icon-lock"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="52"
              height="64"
              viewBox="0 0 52 64"
              class="usa-banner__lock-image"
              role="img"
              aria-labelledby="banner-lock-description-default"
              focusable="false"
            >
              <title id="banner-lock-title-default">Lock</title>
              <desc id="banner-lock-description-default">Locked padlock icon</desc>
              <path
                fill="#000000"
                fill-rule="evenodd"
                d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
              />
            </svg> </span
          >) or <strong>https://</strong> means you’ve safely connected to
          the .gov website. Share sensitive information only on official,
          secure websites.
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
<header class="usa-header usa-header--extended">
<div class="usa-navbar header-top">
<div class="usa-logo">
  <img src="/assets/images/nci-dccps-logo_2x.png" />
</div>
</div>
<div class="title-banner ocs-banner usa-nav-container">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="program-name">Office of Cancer Survivorship</div>
    </div>
  </div>
</div>
</div>
<div class="mobile-menu usa-nav-container">
  <button type="button" class="usa-menu-btn"><i class="fa-solid fa-bars"></i>Menu</button>
  <button class="mobile-search usa-menu-btn">
    <img
      src="/assets/images/search--white.svg" 
      class=""
      alt="Search"
      />
  </button>
  </div>
<nav aria-label="Primary navigation" class="usa-nav">
<div class="usa-nav__inner">
  <button type="button" class="usa-nav__close">
    <img src="/assets/images/close--white.svg"  role="img" alt="Close" />
  </button>
  <ul class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item current">
      <a href="javascript:void(0);" class="usa-nav-link" id="home-link"
        ><span>Home</span></a
      >
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-sg-ocs"
      >
        <span>Statistics and Graphs</span>
      </button>
      <ul id="extended-nav-section-sg-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
      </ul>
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-definitions-ocs"
      >
        <span>Definitions</span>
      </button>
      <ul id="extended-nav-section-definitions-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>Currently Funded Grants</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>Maps of Awarded Grants</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>Research Initiatives</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>Funding History & Trends</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>DCCPS Cancer Moonshot Funding</span></a
          >
        </li>
      </ul>
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-ri-ocs"
      >
        <span>Research and Information</span>
      </button>
      <ul id="extended-nav-section-ri-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
      </ul>
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-fg-ocs"
      >
        <span>Funding and Grants</span>
      </button>
      <ul id="extended-nav-section-fg-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
      </ul>
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-sfa-ocs"
      >
        <span>Special Focus Area</span>
      </button>
      <ul id="extended-nav-section-sfa-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
      </ul>
    </li>
    <li class="usa-nav__primary-item">
      <button
        type="button"
        class="usa-accordion__button usa-nav__link"
        aria-expanded="false"
        aria-controls="extended-nav-section-about-ocs"
      >
        <span>About OCS</span>
      </button>
      <ul id="extended-nav-section-about-ocs" class="usa-nav__submenu">
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
        <li class="usa-nav__submenu-item">
          <a href="javascript:void(0);"
            ><span>&lt;Navigation link&gt;</span></a
          >
        </li>
      </ul>
    </li>
  </ul>
  <div class="usa-nav__secondary search-with-banner">
      {% include 'patterns/search/search.html' %}
  </div>
</div>
</nav>
</header>