.usa-button--secondary{
    background-color: white;
    border: 2px solid #005ea2;
    color: #005ea2;
}
.usa-button--secondary:visited{
    color: #005ea2;
}
.usa-button--secondary.usa-button--hover, .usa-button--secondary:hover{
    background-color: white;
    border: 2px solid #1a4480;
    color: #1a4480;
}
.usa-button--secondary.usa-button--active, .usa-button--secondary:active{
    background-color: white;
    border: 2px solid #162e51;
    color: #162e51;
}
.usa-button--secondary:disabled{
    border-color: #c9c9c9;
    background-color: white;
    color: #c9c9c9;
}

.usa-button--accent-cool, .usa-button--accent-cool:visited{
    background-color: #4bb4c6;
}
.usa-button--accent-cool.usa-button--hover, .usa-button--accent-cool:hover{
    background-color: #32a3aa;
}
.usa-button--accent-cool.usa-button--active, .usa-button--accent-cool:active{
    background-color: #23848a;
    color: black;
}