:root{
    --fs-xs: clamp(0.6rem, calc(0.7rem + -0.12vw), 0.8rem);
    --fs-100: clamp(0.7rem, calc(0.8rem + -0.1vw), 0.825rem);
    --fs-200: clamp(0.75rem, calc(0.9rem + -0.04vw), 0.95rem);
    --fs-300: clamp(0.86rem, calc(0.93rem + 0.05vw), 1.0rem);
    --fs-400: clamp(1.125rem, calc(1.15rem + 0.25vw), 1.25rem);
    --fs-500: clamp(1.3rem, calc(1.22rem + 0.3vw), 1.5rem);
    --fs-600: clamp(1.5rem, calc(1.3rem + 0.5vw), 1.875rem);
    --fs-700: clamp(1.625rem, calc(1.375rem + 0.8vw), 2.25rem);
    --fs-800: clamp(1.8rem, calc(1.4rem + 1.125vw), 2.625rem);
    --fs-900: clamp(2rem, calc(1.5rem + 2vw), 3rem);
    --fs-xl: clamp(2.25rem, calc(1.75rem + 2.4rem), 3.5rem);
}
h1, h2, h4, p{
    font-family: 'Montserrat';
}
.usa-prose h1{
    font-family: 'Montserrat';
    font-size: var(--fs-900);
    font-weight: 800;
}
.usa-prose h2{
    font-family: 'Montserrat';
    font-size: var(--fs-700);
    font-weight: 800;
}
.usa-footer--big .usa-footer__primary-link{
    font-family: 'Montserrat';
}

