<head>
    <link rel="stylesheet" href="/assets/css/patterns/collection.css">
</head>

<ul class="usa-collection">
    <li class="usa-collection__item">
      <div class="collection-icon">
        <img src="/assets/images/report_icon-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="type">Report</span>
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >2019 Overview and Highlights</a
          >
        </span>
        <p class="usa-collection__description">
          DCCPS’ annual report highlights behavioral research and its role across the cancer control continuum, from prevention to diagnosis and treatment to survivorship.
        </p>
      </div>
    </li>
      <li class="usa-collection__item">
      <div class="collection-icon">
        <img src="/assets/images/blog_icon-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="type">Blog</span>
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >Patients Discuss Genomic Data in Cancer Care</a
          >
        </span>
        <p class="usa-collection__description">
          NCI’s genomic data workshop included researchers and clinicians as well as patients with cancer, survivors of the disease, and patient advocates.
        </p>
      </div>
    </li>
    <li class="usa-collection__item">
      <div class="collection-icon">
        <img src="/assets/images/blog_icon-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="type">Blog</span>
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >Prescribing Exercise as Cancer Treatment</a
          >
        </span>
        <p class="usa-collection__description">
          Dr. Kathryn Schmitz discusses research findings connecting physical activity with improved cancer outcomes and what these new guidelines mean for providers and survivors.
        </p>
      </div>
    </li>
  </ul>