<head>
    <link rel="stylesheet" href="/assets/css/patterns/collection.css">
</head>

<ul class="usa-collection">
    <li class="usa-collection__item">
      <div class="collection-icon date-box">
        <div class="month">September</div>
        <div class="days">11-14</div>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >26th Annual Meeting of the Society for Research on Nicotine and Tobacco</a
          >
        </span>
        <p class="usa-collection__description">
          Several members of the Tobacco Control Research Branch (TCRB) will present at the 26th Annual Meeting of the Society for Research on Nicotine and Tobacco, March 11-14, 2020, in New Orleans.
          <br><br>
          TCRB will also have an exhibit table showcasing its resources. Program Directors will be available at the exhibit table throughout the day to answer grantee questions.
        </p>
      </div>
    </li>
      <li class="usa-collection__item">
      <div class="collection-icon date-box">
        <div class="month">September</div>
        <div class="days">11-14</div>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >26th Annual Meeting of the Society for Research on Nicotine and Tobacco</a
          >
        </span>
        <p class="usa-collection__description">
          Several members of the Tobacco Control Research Branch (TCRB) will present at the 26th Annual Meeting of the Society for Research on Nicotine and Tobacco, March 11-14, 2020, in New Orleans.
          <br><br>
          TCRB will also have an exhibit table showcasing its resources. Program Directors will be available at the exhibit table throughout the day to answer grantee questions.
        </p>
      </div>
    </li>
    <li class="usa-collection__item">
      <div class="collection-icon date-box">
        <div class="month">September</div>
        <div class="days">11-14</div>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >26th Annual Meeting of the Society for Research on Nicotine and Tobacco</a
          >
        </span>
        <p class="usa-collection__description">
          Several members of the Tobacco Control Research Branch (TCRB) will present at the 26th Annual Meeting of the Society for Research on Nicotine and Tobacco, March 11-14, 2020, in New Orleans.
          <br><br>
          TCRB will also have an exhibit table showcasing its resources. Program Directors will be available at the exhibit table throughout the day to answer grantee questions.
        </p>
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
              <button type="button" class="usa-button">View Registration and Agenda</button>
          </li>
        </ul>
      </div>
    </li>
  </ul>