<head>
    <link rel="stylesheet" href="/assets/css/patterns/collection.css">
</head>

<ul class="usa-collection animated-collection">
    <li class="usa-collection__item">
      <div class="arrow">
          <img src="/assets/images/arrow-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >Notice of Special Interest: Availability of Administrative and Revision Supplements to Expand Vaping Research and Understand EVALI
            <br>
            <span class="due-date">Due Date: February 28, 2020</span>
            </a>
        </span>
      </div>
    </li>
    <li class="usa-collection__item">
      <div class="arrow">
          <img src="/assets/images/arrow-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >Notice of Special Interest: Alzheimer’s-focused Administrative Supplements for NIH/NCI Grants that are not focused on Alzheimer’s Disease
            <br>
            <span class="due-date">Due Date: March 7, 2020</span>
            </a>
        </span>
      </div>
    </li>
    <li class="usa-collection__item">
      <div class="arrow">
          <img src="/assets/images/arrow-2x.png"/>
      </div>
      <div class="usa-collection__body">
        <span class="usa-collection__heading">
          <a
            class="usa-link"
            href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
            >Methods and Measurement in Research with Sexual and Gender Minority (SGM) Populations
            <br>
            <span class="due-date">Due Date: March 14, 2020</span>
            </a>
        </span>
      </div>
    </li>
  </ul>