<head>
    <link rel="stylesheet" href="/assets/css/patterns/tables.css">
</head>

<table class="usa-table event-table">
  <caption>
    Event Table
  </caption>
    <tbody>
        <tr>
            <th scope="row" class="date">January 1, 2021</th>
            <td>
                <img src="/assets/images/event-webinar-icon.png"/>
                <span class="series-type">Webinar</span>
            </td>
            <td class="series-link"><span class="series-type">Series Title:</span><a href="Webinar Title Goes Here">Webinar Title Goes Here</a></td>
        </tr>
        <tr>
            <th scope="row" class="date">January 1, 2021</th>
            <td>
                <img src="/assets/images/event-webinar-icon.png"/>
                <span class="series-type">Webinar</span>
            </td>
            <td class="series-link"><span class="series-type">Series Title:</span><a href="Webinar Title Goes Here">Webinar Title Goes Here</a></td>
        </tr>
        <tr>
            <th scope="row" class="date">January 1, 2021</th>
            <td>
                <img src="/assets/images/event-webinar-icon.png"/>
                <span class="series-type">Webinar</span>
            </td>
            <td class="series-link"><span class="series-type">Series Title:</span><a href="Webinar Title Goes Here">Webinar Title Goes Here</a></td>
        </tr>
        <tr>
            <th scope="row" class="date">January 1, 2021</th>
            <td>
                <img src="/assets/images/event-webinar-icon.png"/>
                <span class="series-type">Webinar</span>
            </td>
            <td class="series-link"><span class="series-type">Series Title:</span><a href="Webinar Title Goes Here">Webinar Title Goes Here</a></td>
        </tr>
    </tbody>
</table>
