<head>
    <link rel="stylesheet" href="/assets/css/patterns/tables.css">
</head>

<table class="usa-table">
  <caption>
    Multi Header Table
  </caption>
    <thead>
        <tr>
            <th scope="col" colspan="2">Biobehavioral Mechanisms of Prognosis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><a href="">Paige Green, PhD, MPH</a></th>
            <td>
                <a href="">paige.green@nih.gov</a>
            </td>
        </tr>
    </tbody>
</table>