<head>
    <link rel="stylesheet" href="/assets/css/patterns/tables.css">
</head>

<table class="usa-table usa-table--striped">
  <caption>
    Bordered Table
  </caption>
  <thead>
    <tr>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">
            <hr>
            <div class="more-information">
                <a href="">More Information <i class="fa-solid fa-arrow-right"></i></a>
            </div>
    </th>
            <td>
                NOT-OD-21-044
            </td>
    </tr>
  </tbody>
</table>