<head>
    <link rel="stylesheet" href="/assets/css/patterns/events.css">
</head>

<div  class="event">
    <div class="event-container">
        <div class="event-header">
            <h2>Upcoming Event</h2>
        </div>
        <div class="event-item">
            <div class="icon-col">
                <div class="collection-icon date-box">
                    <div class="month">September</div>
                    <div class="days">11-14</div>
                </div>
            </div>
            <div class="event-box">
                <div class="event__body">
                <h3 class="event__heading">
                    <a
                    class="usa-link"
                    href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/"
                    >26th Annual Meeting of the Society for Research on Nicotine and Tobacco</a
                    >
                </h3>
                <p class="event__description">
                    Several members of the Tobacco Control Research Branch (TCRB) will present at the 26th Annual Meeting of the Society for Research on Nicotine and Tobacco, March 11-14, 2020, in New Orleans.
                    <br><br>
                    TCRB will also have an exhibit table showcasing its resources. Program Directors will be available at the exhibit table throughout the day to answer grantee questions.
                </p>
                </div>
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <button type="button" class="usa-button">View Registration and Agenda</button>
                    </li>
                </ul>                
            </div>
        </div>
    </div>
</div>