<head>
    <link rel="stylesheet" href="/assets/css/patterns/aside.css">
</head>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h4 class="usa-summary-box__heading" id="summary-box-key-information">
      News and Highlights
    </h4>
    <div class="usa-summary-box__text">
      <ul class="usa-list">
        <li>
          <a class="usa-summary-box__link" href="">Meet Featured BBPSB Researchers</a>
        </li>
        <li>
          <a class="usa-summary-box__link" href=""
            >New Guidance for Basic Experimental Studies Involving Humans</a
          >
        </li>
        <li>
          <a class="usa-summary-box__link" href="">NIH Protocol Template for Behavioral and Social Sciences Research</a>
        </li>
      </ul>
    </div>
  </div>
</div>