<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing is-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="text-img-container">
        <div>
            <p>
              Improving the impact of cancer control and population science 
              on the health and health care of the population, and fostering 
              the rapid integration of research, practice, and policy.
            </p>
            <hr class="hero-hr">
            <div class="hero-btns">
              <div class="hero-socials">
                <img src="/assets/img/usa-icons/x--white.svg"/>
                <span class="share-page" href="">
                  Stay up-to-date on everything from the IS Team @NCI_ImplSci
                </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                  </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    <a href="">Subscribe to the monthly e-newsletter from IS</a>                </span>
              </div>
            </div>
        </div>
        <div class="hero-image"></div>
    </div>
  </div>
</section>