<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing brp-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <h1 class="usa-hero__heading">
                  <span class="usa-hero__heading--alt">BRP</span>
              </h1> 
              <p>The Behavioral Research Program initiates, supports, and evaluates a comprehensive program of research to increase the breadth, depth, and quality of behavioral research in cancer prevention and control.</p>
              <div class="hero-btns">
                <div class="hero-links">
                  <img src="/assets/icons/twitter_icon_2x.png"/>
                  <a class="share-page"
                  href="">
                  Stay up-to-date on everything from DCCPS @NCIBehaviors
                  </a>
                </div>
                <div class="hero-links">
                  <img src="/assets/icons/twitter_icon_2x.png"/>
                  <a class="share-page" href="">
                  Subscribe to the quarterly e-newsletter from BRP.
                  </a>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
</section>
  