<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing is-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <h1 class="usa-hero__heading">
                  <span class="usa-hero__heading--alt">IS</span>
              </h1> 
              <p>Improving the impact of cancer control and population science on the health and health care of the population, and fostering the rapid integration of research, practice, and policy.</p>
              <div class="hero-btns">
                <div class="hero-links">
                  <img src="/assets/icons/twitter_icon_2x.png"/>
                  <a class="share-page"
                  href="">
                  Stay up-to-date on everything from DCCPS @NCI_ImplSci
                  </a>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
  </section>