<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing srp-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <p>
                Cancer surveillance provides a quantitative portrait of 
                cancer and its determinants in a defined population. The 
                core functions of cancer surveillance are the measurement 
                of cancer incidence, morbidity, survival, and mortality 
                for persons with cancer.
              </p>
              <hr class="hero-hr">
              <div class="hero-btns">
                <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                  </span>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
</section>
  