<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing is-hero" aria-label="Introduction">
  <div class="hero-content">
    <div class="grid-container hero-col">
      <div class="hero-text-container">
        <h1 class="sr-only"></h1>
        <p class="hero-callout">
          Improving the impact of cancer control and population science 
          on the health and health care of the population, and fostering 
          the rapid integration of research, practice, and policy.
        </p>
        <hr class="hero-hr">
        <div class="hero-socials">
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/x--white.svg"/>
            </a>
            <p class="share-page">
              <a href=""> Stay up-to-date on everything from the IS Team @NCI_ImplSci</a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Stay up-to-date on everything from <a>DCCPS LinkedIn</a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Subscribe to the monthly e-newsletter from IS</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hero-bg-image-wrapper">
        <div class="hero-image" style="background-image: url(/assets/images/Pure_black_screen.png);">
          <span class="sr-only">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</section>