<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing hd-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <h1 class="usa-hero__heading">
                  <span class="usa-hero__heading--alt">Health Disparities</span>
              </h1> 
              <p>DCCPS seeks to eliminate cancer-related disparities by promoting and conducting health equity research that identifies and addresses the mechanisms contributing to disparities across the cancer control continuum and throughout the human lifespan.</p>
              <div class="hero-btns">
                <div class="hero-links">
                  <img src="/assets/icons/twitter_icon_2x.png"/>
                  <a class="share-page"
                  href="">
                  Stay up-to-date on everything from DCCPS @NCICancerCtrl
                  </a>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
</section>