<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
  </head>
  
<section class="usa-hero hero-landing brp-hero" aria-label="Introduction">
    <div class="hero-content">
        <div class="grid-container hero-col">
            <div class="hero-text-container">
                <h1 class="sr-only"></h1>
                <p class="hero-callout">
                    The Behavioral Research Program initiates, supports, and 
                    evaluates a comprehensive program of research to increase 
                    the breadth, depth, and quality of behavioral research in 
                    cancer prevention and control.
                </p>
                <hr class="hero-hr">
                <div class="hero-socials">
                    <div class="hero-social-links-wrapper">
                        <a class="hero-social-links">
                            <img src="/assets/img/usa-icons/x--white.svg"/>
                        </a>
                        <p class="share-page">
                            <a href="">Stay up-to-date on everything from BRP @NCIBehaviors</a>
                        </p>
                    </div>
                    <div class="hero-social-links-wrapper">
                        <a class="hero-social-links">
                            <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                        </a>
                        <p class="share-page">
                            <a href="">Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                        </p>
                    </div>
                    <div class="hero-social-links-wrapper">
                        <a class="hero-social-links">
                            <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                        </a>
                        <p class="share-page">
                            <a href="">Subscribe to the quarterly <br><a>e-newsletter from BRP</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="hero-bg-image-wrapper">
                <div class="hero-image">
                    <span class="sr-only">&nbsp;</span>
                </div>
            </div>
        </div>
    </div>
</section>