<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing hd-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="text-img-container">
        <div>
            <p>
              The mission of the Healthcare Delivery Research Program 
              (HDRP) is to advance innovative research to improve the 
              delivery of cancer-related care, thereby improving health 
              for individuals and populations.
            </p>
            <hr class="hero-hr">
            <div class="hero-btns">
              <div class="hero-socials">
                <img src="/assets/img/usa-icons/x--white.svg"/>
                <span class="share-page" href="">
                  Stay up-to-date on everything from BRP @NCIBehaviors
                </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                  </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                      Subscribe to the quarterly <br><a>e-newsletter from BRP</a>
                  </span>
              </div>
            </div>
        </div>
        <div class="hero-image"></div>
    </div>
  </div>
</section>