<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing egrp-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <p>
                Supporting research in human populations to understand 
                determinants of cancer occurrence and outcomes and 
                translating findings to clinical and public health 
                interventions.
              </p>
              <hr class="hero-hr">
              <div class="hero-btns">
                <div class="hero-socials">
                    <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                    <span class="share-page" href="">
                      Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                    </span>
                </div>
                <div class="hero-socials">
                    <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                    <span class="share-page" href="">
                        <a href="">Subscribe to the quarterly <br>e-newsletter from EGRP</a>
                    </span>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
</section>