<head>
    <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing brp-hero" aria-label="Introduction">
    <div class="grid-container">
      <div class="text-img-container">
          <div>
              <p>
                The Division of Cancer Control and Population Sciences 
                (DCCPS) aims to reduce cancer risk, incidence, and death 
                and enhance quality of life for cancer survivors by 
                supporting innovative research and recommending ways to 
                apply that research in quality health care delivery.
              </p>
              <hr class="hero-hr">
              <div class="hero-btns">
                <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                  </span>
                </div>
              </div>
          </div>
          <div class="hero-image"></div>
      </div>
    </div>
</section>
  