<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing od-hero" aria-label="Introduction">
  <div class="hero-content">
    <div class="grid-container hero-col">
      <div class="hero-text-container">
        <h1 class="sr-only"></h1>
        <p class="hero-callout">
          The Division of Cancer Control and Population Sciences 
          (DCCPS) aims to reduce cancer risk, incidence, and death 
          and enhance quality of life for cancer survivors by 
          supporting innovative research and recommending ways to 
          apply that research in quality health care delivery.
        </p>
        <hr class="hero-hr">
        <div class="hero-socials">
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Stay up-to-date on everything from DCCPS LinkedIn </a>
            </p>
          </div>
        </div>
      </div>
      <div class="hero-bg-image-wrapper">
        <div class="hero-image" style="background-image: url(/assets/images/Pure_black_screen.png);">
          <span class="sr-only">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</section>