<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing hd-hero" aria-label="Introduction">
  <div class="hero-content">
    <div class="grid-container hero-col">
      <div class="hero-text-container">
        <h1 class="sr-only"></h1>
        <p class="hero-callout">
          The mission of the Healthcare Delivery Research Program 
          (HDRP) is to advance innovative research to improve the 
          delivery of cancer-related care, thereby improving health 
          for individuals and populations.
        </p>
        <hr class="hero-hr">
        <div class="hero-socials">
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/x--white.svg"/>
            </a>
            <p class="share-page">
              <a href=""> Follow HDRP on Twitter/X @NCICareDelivRes</a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Subscribe to the HDRP <br> e-newsletter</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hero-bg-image-wrapper">
        <div class="hero-image" style="background-image: url(/assets/images/Pure_black_screen.png);">
          <span class="sr-only">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</section>