<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing ocs-hero" aria-label="Introduction">
  <div class="grid-container">
    <div class="text-img-container">
        <div>
            <p>
              The NCI Office of Cancer Survivorship (OCS) works to enhance 
              the quality and length of survival of all persons diagnosed 
              with cancer and to prevent, minimize, or manage adverse 
              effects of cancer and its treatment.
            </p>
            <hr class="hero-hr">
            <div class="hero-btns">
              <div class="hero-socials">
                <img src="/assets/img/usa-icons/x--white.svg"/>
                <span class="share-page" href="">
                  Stay up-to-date on everything from OCS @NCICancerSurv
                </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    Stay up-to-date on everything from <a>DCCPS LinkedIn </a>
                  </span>
              </div>
              <div class="hero-socials">
                  <img src="/assets/img/usa-icons/linkedin--white.svg"/>
                  <span class="share-page" href="">
                    <a href="">Sign up for the OCS Listserv</a>
                  </span>
              </div>
            </div>
        </div>
        <div class="hero-image"></div>
    </div>
  </div>
</section>