<head>
  <link rel="stylesheet" href="/assets/css/patterns/hero.css">
</head>

<section class="usa-hero hero-landing ocs-hero" aria-label="Introduction">
  <div class="hero-content">
    <div class="grid-container hero-col">
      <div class="hero-text-container">
        <h1 class="sr-only"></h1>
        <p class="hero-callout">
          The NCI Office of Cancer Survivorship (OCS) works to enhance 
          the quality and length of survival of all persons diagnosed 
          with cancer and to prevent, minimize, or manage adverse 
          effects of cancer and its treatment.
        </p>
        <hr class="hero-hr">
        <div class="hero-socials">
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/x--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Stay up-to-date on everything from OCS @NCICancerSurv/a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Stay up-to-date on everything from DCCPS LinkedIn</a>
            </p>
          </div>
          <div class="hero-social-links-wrapper">
            <a class="hero-social-links">
              <img src="/assets/img/usa-icons/linkedin--white.svg"/>
            </a>
            <p class="share-page">
              <a href="">Sign up for the OCS Listserv</a>
            </p>
          </div>
        </div>
      </div>
      <div class="hero-bg-image-wrapper">
        <div class="hero-image" style="background-image: url(/assets/images/Pure_black_screen.png);">
          <span class="sr-only">&nbsp;</span>
        </div>
      </div>
    </div>
  </div>
</section>