<head>
    <link rel="stylesheet" href="/assets/css/patterns/checkbox.css">
</head>

<fieldset class="usa-fieldset">
    <legend class="usa-legend">Checkboxes</legend>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-historical-truth"
        type="checkbox"
        name="historical-figures"
        value="sojourner-truth"
        checked="checked"
      />
      <label class="usa-checkbox__label" for="check-historical-truth"
        >Checkbox Example 1</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-historical-douglass"
        type="checkbox"
        name="historical-figures"
        value="frederick-douglass"
      />
      <label class="usa-checkbox__label" for="check-historical-douglass"
        >Checkbox Example 2</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-historical-washington"
        type="checkbox"
        name="historical-figures"
        value="booker-t-washington"
      />
      <label class="usa-checkbox__label" for="check-historical-washington"
        >Checkbox Example 3</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-historical-carver"
        type="checkbox"
        name="historical-figures"
        value="george-washington-carver"
        disabled="disabled"
      />
      <label class="usa-checkbox__label" for="check-historical-carver"
        >Disabled Checkbox</label
      >
    </div>
  </fieldset>