<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-6">
        <div class="usa-card__container usa-card__media center-image">
            <div class="usa-card__header">
                <div>
                    <h2 class="usa-card__heading"><a href="">Robert T. Croyle, PhD</a></h2>
                    <span class="subtitle">DIRECTOR, DCCPS</span>
                </div>
            </div>
            <div class="usa-card__media">
                <div class="usa-card__img">
                  <img src="/assets/images/robert_croyle.png"/>
                </div>
            </div>
            <div class="usa-card__body">
                Robert Croyle, Ph.D., was appointed director of the 
                Division of Cancer Control and Population Sciences 
                (DCCPS) at the National Cancer Institute (NCI) in 
                July 2003. In this role, he oversees a research 
                portfolio and operating budget of nearly half a 
                billion dollars and serves on NCI’s Scientific 
                Program Leaders governance group.
            </div>
        </div>
    </li>
</ul>