<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-6">
      <div class="usa-card__container usa-card--header-first light-background">
            <div class="usa-card__header icon-header">
                    <div class="title_icon">
                        <img src="{{card.icon}}" alt="{{card.alt}}">
                    </div>
                <div>
                    <h2 class="usa-card__heading">Sidebar Title</h2>
                </div>
            </div>
            <div class="usa-card__body">
                Lorem ipsum dolor sit amet, <a href="">consectetur 
                adipiscing elit</a>, sed do eiusmod tempor 
                incididunt ut labore et dolore magna aliqua. Ut 
                enim <a href="">ad minim veniam</a>, quis nostrud 
                exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat.
            </div>
        </div>
    </li>
</ul>