<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<div class="usa-card desktop: grid-col-6">
  <div class="box box-profile-md">
    <div class="box-content-area">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-8 order-sm-2">
          <h3><a href="#">Ali Abazeed, MPH, MPP</a></h3>
          <p class="staff-title">Public Health Advisor</p>
          <p><a href="mailto:ali.abazeed@nih.gov">ali.abazeed@nih.gov</a></p>
        </div> <!-- /.col-md-8 -->
        <div class="col-12 col-sm-6 col-md-4 order-sm-1">
          <div class="headshot">
            <img src="/assets/images/abazeed.jpg" alt="Ali Abazeed" class="img-fluid">
          </div> <!-- /.headshot -->
        </div> <!-- /.col-md-4 -->
      </div> <!-- /.row -->
    </div> <!-- /.box-content-area -->
  </div>
</div>