<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<div class="usa-card desktop: grid-col-6">
  <aside class="box">
    <div class="box-title-area">
      <h3>Sidebar Title</h3>
    </div> <!-- /.box-title-area -->
    <div class="box-content-area">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <a href="#">sed do eiusmod tempor incididunt</a> ut labore et dolore magna aliqua. Ut enim <a href="#">ad minim veniam</a>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#" class="btn btn-primary">Sample Button</a>
    </div>
  </aside>
</div>