<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<div class="usa-card desktop: grid-col-12">
  <div class="box box-profile-lg">
    <div class="box-content-area">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-8">
          <div class="row">
            <div class="col-md-7 order-md-2">
              <h3><a href="#">David Chambers, DPhil</a></h3>
              <p class="staff-title">Deputy Director for Implementation Science</p>
              <p><a href="mailto:dchamber@mail.nih.gov">dchamber@mail.nih.gov</a></p>
              <div class="btn-group"> 
                <a href="https://twitter.com/NCIDAChambers" target="_blank" class="btn btn-primary">Follow on Twitter</a> 
                <a href="/exit_disclaimer.html" class="btn btn-primary btn-external usa-link--external"></a> 
              </div> <!-- /.btn-group -->
            </div> <!-- /.col-md-7 -->
            <div class="col-md-5 order-md-1">
              <div class="headshot"><img src="/assets/images/chambers-cropped.jpg" alt="David Chambers" class="img-fluid"></div>
            </div> <!-- /.col-md-5 -->
          </div> <!-- /.row -->
                        </div> <!-- /.col-md-8 -->
        <div class="col-12 col-sm-12 col-md-4">
          <h4>Interests:</h4>
          <ul>
            <li>Intervention adaptation/evolvability</li>
            <li>Sustainability</li>
            <li>Learning healthcare systems</li>
            <li>Implementation research networks</li>
            <li>De-implementation</li>
          </ul>
                        </div> <!-- /.col-md-4 -->
                   </div> <!-- /.row -->
    </div> <!-- /.box-content-area -->
  </div>
</div>