<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card tablet:grid-col-4">
      <div class="usa-card__container usa-card--header-first sidebar gray-background">
          <div class="usa-card__header icon-header">
                  <div class="title_icon">
                      <img src="/assets/images/sidebar-box-icons_2x.png" alt="">
                  </div>
              <div>
                  <span class="icon-label">Icon Label</span>
                  <h2 class="usa-card__heading icon-heading">Sidebar Title</h2>
              </div>
          </div>
          <div class="usa-card__body">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing 
              elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis 
              nostrud exercitation ullamco laboris nisi ut 
              aliquip ex ea commodo consequat.
            </p>
          </div>
          <div class="usa-card__footer">
            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <a href="" class="usa-button">Button</a>
              </li>
            </ul>
          </div>
      </div>
  </li>
</ul>