<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-12">
      <div class="usa-card__container profile-card">
        <div class="usa-card__body">
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="/assets/images/amanda-fallinbennett.jpg"/>
            </div>
          </div>
          <div class="link-button">
            <span class="name"><a href="">Amanda Fallin-Bennett, Ph.D., R.N.</a></span>
            <span class="location">UNIVERSITY OF KENTUCKY</span>
            <p class="role">PSYCHOLOGIST AND HEALTH DISPARITIES RESEARCHER</p>
            <ul class="usa-button-group">
              <li class="usa-button-group__item flag-button">
                <a href="" class="usa-button">Other TCRB Grantees</a>
              </li>
            </ul>
          </div>
          <div class="content-area">
            <p>
                "After growing up in rural Kentucky, I moved to 
                California and was struck by the stark geographic 
                disparity in tobacco control policies, and became 
                passionate about closing the gap in rural, southern 
                states.”
            </p>
            <span>- Amanda Fallin-Bennett, Ph.D., R.N.</span>
          </div>
        </div>
      </div>
    </li>
</ul>