<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-12">
      <div class="usa-card__container profile-card">
        <div class="usa-card__body">
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="/assets/images/chambers-cropped.jpg"/>
            </div>
          </div>
          <div class="link-button">
            <span class="name"><a href="">David Chambers, DPhil</a></span>
            <span class="role">DEPUTY DIRECTOR FOR IMPLEMENTATION SCIENCE</span>
            <p class="email"><a href="dchamber@mail.nih.gov">dchamber@mail.nih.gov</a></p>
            <ul class="usa-button-group">
              <li class="usa-button-group__item flag-button">
                <a href="" class="usa-button">Follow on Twitter</a>
                <a href="" class="usa-button semi-button">
                  <i class="fa-solid fa-up-right-from-square"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-area">
            <span class="content-header">Interests:</span>
            <ul class="content-list">
              <li>Intervention adaptation/evolvability</li>
              <li>Sustainability</li>
              <li>Learning healthcare systems</li>
              <li>Implementation research networks</li>
              <li>De-implementation</li>
            </ul>
          </div>
        </div>
      </div>
    </li>
  </ul>