<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-6">
      <div class="usa-card__container profile-card round-img">
        <div class="usa-card__body">
          <div class="usa-card__media usa-card__media--inset">
            <div class="usa-card__img">
              <img src="/assets/images/abazeed.jpg"/>
            </div>
          </div>
          <div class="link-button">
            <span class="name"><a href="">Ali Abazeed, MPH, MPP</a></span>
            <span class="role">PUBLIC HEALTH ADVISOR</span>
            <p class="email"><a href="ali.abazeed@nih.gov">ali.abazeed@nih.gov</a></p>
          </div>
        </div>
      </div>
    </li>
</ul>