<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-6">
        <div class="usa-card__container usa-card--header-first sample-app light-background">
            <div class="usa-card__header">
                <div>
                    <h2 class="usa-card__heading">Sexual Health Empowerment for Cervical Health Literacy and Cancer Prevention</h2>
                 </div>
            </div>
            <div class="usa-card__body">
                <div class="sample-app__content">
                    <div>
                        <h4>Principal Investigator</h4>
                        <div class="principal-investigator">
                            <div class="usa-card__media usa-card__media--inset">
                                <div class="usa-card__img">
                                    <img class="img-fluid" src="/assets/images/ramaswamy-megha.jpg"/>
                                </div>
                            </div>  
                            <div>
                               <span><a href="" class="investigator">Megha Ramaswamy, Ph.D. Exit Disclaimer<i class="fas fa-external-link-alt"></i></a></span>
                                <span class="location">UNIVERSITY OF KANSAS SCHOOL OF MEDICINE</span>
                            </div>                
                        </div>
                    </div>
                    <div>
                        <h4>Grant Mechanism & Award Number</h4>
                        <span>1R01CA181047-01A1</span>
                    </div>
                </div>
            </div>        
            <div class="usa-card__footer">
                <ul class="usa-button-group">
                    <li class="usa-button-group__item">
                        <a href="{{ card.btn-link }}" class="usa-button">View Abstract</a>
                    </li>
                    <li class="usa-button-group__item">
                        <a href="" class="usa-button">View Grant Application (PDF, 100KB)</a>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>