<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-12">
        <div class="usa-card__container usa-card--header-first monograph light-background">
            <span class="dark-banner">Featured Monograph</span>
            <div class="usa-card__header">
                <div class="name_date">
                    <span>Monograph 22</span><span> : </span><span>September, 2017</span>
                </div>
                <div>
                    <h2 class="usa-card__heading"><a href="">A Socioecological Approach to Addressing Tobacco-Related Health Disparities</a></h2>
                </div>
            </div>
            <div class="monograph__content">
                <div class="blog-profile">
                    <div class="usa-card__img">
                        <img class="img-fluid" src="/assets/images/m22_cover.jpg"/>
                    </div>
                </div>
                <div class="text-buttons">
                    <div class="blurb">
                        <p>
                            Examines the current evidence surrounding 
                            tobacco-related health disparities across the 
                            tobacco use continuum–initiation, secondhand 
                            smoke exposure, current use, frequency and 
                            intensity, cessation, relapse, morbidity, and 
                            mortality–and the implications for future 
                            research and implementation of effective 
                            strategies.
                        </p>
                    </div>
                    <ul class="usa-button-group">
                        <li class="usa-button-group__item">
                            <a href="" class="usa-button">View Monograph 22 (PDF, 12.8 MB)</a>
                        </li>
                        <li class="usa-button-group__item">
                            <a href="" class="usa-button">View Executive Summary (PDF, 1.1 MB)</a>
                        </li>
                        <li class="usa-button-group__item">
                            <a href="" class="usa-button">View Overview Presentation (PDF, 2.8 MB)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>