<head>
    <link rel="stylesheet" href="/assets/css/patterns/box.css">
</head>

<ul class="usa-card-group box-component"> 
    <li class="usa-card desktop: grid-col-6">
      <div class="usa-card__container usa-card--header-first blog-box light-background">
            <span class="dark-banner">RECENT DISPATCH FROM IMPLEMENTATION SCIENCE AT NCI</span>
            <div class="usa-card__header">
              <div>
                <h2 class="usa-card__heading blog-header"><a href="">Understanding Context: Learning How Organizations Affect Healthcare Delivery</a></h2>
              </div>
              <div class="name_date">
                <span>Sarah Kobrin</span><span> | </span><span>February, 2020</span>
              </div>
            </div>
          <div class="usa-card__body">
              <div class="blog-box__content">
                <div class="blog-profile">
                  <div class="usa-card__img">
                    <img src="/assets/images/kobrin.jpg"/>
                  </div>
                </div>
                <div class="blurb">
                    <p>
                        Healthcare delivery settings influence every 
                        step of how care is given, yet far more work 
                        is needed to effectively describe 
                        characteristics of these settings; to link 
                        those characteristics to outcomes; and to 
                        develop setting-changing interventions to 
                        improve care quality.
                    </p>
                </div>
            </div>
        </div>
    </div>
  </li>
</ul>